.hamburger-menu {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 60px;
}

.hamburger-menu .bars {
  background: #f18a25;
  height: 2px;
  position: relative;
  transition: all .4s ease-in-out;
  width: 30px;
}

.hamburger-menu.__active .bars {
  background: transparent !important;
}

.hamburger-menu .bars::before {
  background: #f18a25;
  content: "";
  height: 2px;
  position: absolute;
  top: -10px;
  transition: all .4s ease-in-out;
  width: 100%;
}

.hamburger-menu.__active .bars::before {
  top: 0;
  transform: rotate(45deg);
  transition:  all .4s ease-in-out;
}

.hamburger-menu .bars::after {
  background: #f18a25;
  bottom: -10px;
  content: "";
  height: 2px;
  position: absolute;
  transition: all .4s ease-in-out;
  width: 100%;
}

.hamburger-menu.__active .bars::after {
  bottom: 0;
  transform: rotate(-45deg);
  transition: all .4s ease-in-out;
}