header {
    height: 120px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav .brand {
    display: contents;
}

header nav .logo {
    width: 100px;
    height: 70px;
    margin-right: 750px;
}

header nav a:not(.brand) {
    text-decoration: none;
    font-size: 18px;
    margin: 0 8px;
    color: #f18a25;
    font-weight: bold;
}