.form-section {
    width: 900px;
    background-color: #f18a25;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    border-radius: 30px;
}

.form-section h2 {
    color: white;
    margin: 0;
}

.form-section p {
    color: white;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section form input {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    padding-left: 5px;
}

.form-section form input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.form-section form button {
    height: 40px;
    background-color: white;
    color: #f18a25;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.about-section {
    width: 1200px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.about-section .flex-text {
    width: 450px;
}

.about-section .flex-text h2 {
    text-align: start;
    font-size: 40px;
}

.about-section .flex-text p {
    font-size: 18px;
}

.about-section video {
    width: 530px;
}

.commitment-section {
    width: 1200px;
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
}

.commitment-section .flex-text {
    width: 450px;
}

.commitment-section .flex-text h2 {
    text-align: start;
}

.commitment-section .flex-text ul li {
    margin-bottom: 30px;
    list-style-image: url('../images/printer.png');
}

.commitment-section img {
    width: 550px;
    border-radius: 15px;
}

.commitment-section .flex-text ul li b {
    color: #f18a25;
}