.about-section {
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.about-section .flex-text {
    width: 400px;
}

.about-section .flex-text h2 {
    text-align: start;
    font-size: 40px;
}

.about-section .flex-text p {
    font-size: 18px;
}

.about-section video {
    width: 530px;
}
.commitment-section {
    margin: 0 auto 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commitment-section .flex-text {
    width: 450px;
}

.commitment-section .flex-text h2 {
    text-align: start;
}

.commitment-section .flex-text ul li {
    margin-bottom: 30px;
    list-style-image: url('../images/printer.png');
}

.commitment-section img {
    width: 550px;
    border-radius: 15px;
}

.commitment-section .flex-text ul li b {
    color: #f18a25;
}

@media(max-width: 428px) {
    .about-section {
        max-width: 428px;
        padding: 0 15px;
        flex-direction: column;
        margin: 30px auto;
    }

    .about-section .flex-text {
        width: 100%;
    }

    .about-section .flex-text h2 {
        font-size: 35px;
    }

    .about-section video {
        width: 100%;
        height: 300px;
    }

    .commitment-section {
        max-width: 428px;
        padding: 15px;
        margin: 0 auto 30px;
        flex-direction: column-reverse;
    }

    .commitment-section .flex-text {
        width: 100%;
    }

    .commitment-section img {
        width: 100%;
        height: 350px;
    }
}