body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: #f18a25;
    font-weight: bold;
}


/* Slider */

.flex-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-items .item {
    width: 300px;
    height: auto;
    margin: 0 30px 30px;
    padding: 20px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 30px 15px 50px 15px;
    cursor: pointer;
    background-color: white;
}

.flex-items .item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flex-items .item h3 {
    font-size: 24px;
    color: #f18a25;
}

.flex-items .item p {
    color: #808080;
}

.flex-items .item .btn-destaque {
    border: 1px solid #f18a25;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: #f18a25;
    transition: all ease .8s;
}

.flex-items .item .btn-destaque:hover {
    background-color: #f18a25;
    color: white;
}