body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-weight: normal;
}

@media(max-width: 428px) {
    body {
        max-width: 428px;
        position: relative;
    }
}

#home-section {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    color: #f18a25;
    font-weight: bold;
}

/* Impressoras */

.flex-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-items .item {
    width: 300px;
    height: auto;
    margin: 0 30px 30px;
    padding: 20px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 30px 15px 50px 15px;
    cursor: pointer;
    background-color: white;
}

.flex-items .item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.flex-items .item h3 {
    font-size: 24px;
    color: #f18a25;
}

.flex-items .item p {
    color: #808080;
}

.btn-destaque {
    border: 1px solid #f18a25;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: #f18a25;
    transition: all ease .8s;
}

.btn-destaque:hover {
    background-color: #f18a25;
    color: white;
}

/* Impressoras Interna */

.__wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.__wrap h3 {
    color: #f18a25;
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.dobra1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dobra1 h1 {
    color: #f18a25;
    font-size: 30px;
}

.dobra1 p {
    color: #808080;
    width: 500px;
}

.dobra1 img {
    width: 40%;
}

.downloads {
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.dobra2 {
    margin-top: 100px;
}

.dobra2 .rows {
    margin-top: 50px;
    display: flex;
}

.dobra2 .rows .collumn {
    margin-right: 350px;
}

.dobra2 .rows .collumn b {
    font-size: 18px;
    color: #f18a25;
}

.dobra2 .rows .collumn p {
    color: #808080;
}