.whatsapp-button {
    width: 100%;
    position: relative;
}

.whatsapp-button a {
    display: flex;
    justify-content: flex-end;
}

.whatsapp-button a img {
    width: 8%;
    position: fixed;
    z-index: 15;
    bottom: 50px;
    right: 50px;
}

@media all and (max-width: 480px) {
    .whatsapp-button a img {
        width: 20%;
        right: 10px;
    }
}