.block-driver {
    display: flex;
    flex-direction: column;
}

.block-driver label {
    cursor: pointer;
}

.block-driver label img {
    width: 20%;
}

.block-driver input {
    display: none;
}

#download {
    text-decoration: none;
    display: flex;
}

#download::before {
    content: url('../images/download-da-nuvem.png');
}